In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [6]:
file_path = "/home/pict/Downloads/Energy_consumption_dataset.csv"
df = pd.read_csv(file_path)

In [13]:
df.head()

,Month,Hour,DayOfWeek,Holiday,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,EnergyConsumption
0,1,0,Saturday,No,25.139433,43.431581,1565.693999,5,On,Off,2.774699,75.364373
1,1,1,Saturday,No,27.731651,54.225919,1411.064918,1,On,On,21.831384,83.401855
2,1,2,Saturday,No,28.704277,58.907658,1755.715009,2,Off,Off,6.764672,78.270888
3,1,3,Saturday,No,20.080469,50.371637,1452.316318,1,Off,On,8.623447,56.519850
4,1,4,Saturday,No,23.097359,51.401421,1094.130359,9,On,Off,3.071969,70.811732

In [30]:
print(df)

      Month  Hour DayOfWeek Holiday  Temperature   Humidity  SquareFootage  \
0         1     0  Saturday      No    25.139433  43.431581    1565.693999
1         1     1  Saturday      No    27.731651  54.225919    1411.064918
2         1     2  Saturday      No    28.704277  58.907658    1755.715009
3         1     3  Saturday      No    20.080469  50.371637    1452.316318
4         1     4  Saturday      No    23.097359  51.401421    1094.130359
...     ...   ...       ...     ...          ...        ...            ...
4995     12     6    Sunday     Yes    26.338718  52.580000    1563.567259
4996     12    17    Monday      No    20.007565  42.765607    1999.982252
4997     12    13  Thursday     Yes    26.226253  30.015975    1999.982252
4998     12     8  Saturday     Yes    24.673206  50.223939    1240.811298
4999     12     1  Saturday     Yes    25.802872  41.798829    1793.658686

      Occupancy HVACUsage LightingUsage  RenewableEnergy  EnergyConsumption  \
0             5        On           Off         2.774699          75.364373
1             1        On            On        21.831384          83.401855
2             2       Off           Off         6.764672          78.270888
3             1       Off            On         8.623447          56.519850
4             9        On           Off         3.071969          70.811732
...         ...       ...           ...              ...                ...
4995          7        On            On        20.591717          70.270344
4996          5       Off            On         7.536319          73.943071
4997          5       Off            On        28.162193          85.784613
4998          2        On            On        20.918483          63.784001
4999          6       Off           Off         8.334079          53.263278

      Humidity_Normalized
0            4.478869e-01
1            8.082614e-01
2            9.645637e-01
3            6.795843e-01
4            7.139641e-01
...                   ...
4995         7.533116e-01
4996         4.256531e-01
4997         1.657722e-08
4998         6.746533e-01
4999         3.933766e-01

[5000 rows x 13 columns]

In [33]:
#Data Preprocessing
missing_values = df.isnull().sum()
print("Missing Values:\n",missing_values)

Missing Values:
 Month                  0
Hour                   0
DayOfWeek              0
Holiday                0
Temperature            0
Humidity               0
SquareFootage          0
Occupancy              0
HVACUsage              0
LightingUsage          0
RenewableEnergy        0
EnergyConsumption      0
Humidity_Normalized    0
dtype: int64

In [19]:
print("Data Statistics:\n",df.describe())

Data Statistics:
              Month         Hour  Temperature     Humidity  SquareFootage  \
count  5000.000000  5000.000000  5000.000000  5000.000000    5000.000000
mean      6.251200    11.556000    24.946823    45.478146    1507.403201
std       3.588687     6.888306     3.041678     8.972690     293.147209
min       1.000000     0.000000    20.007565    30.015975    1000.512661
25%       3.000000     6.000000    22.453790    38.111104    1253.906598
50%       6.000000    11.000000    24.831846    45.793124    1513.581105
75%       9.000000    18.000000    27.427281    52.696651    1754.846457
max      12.000000    23.000000    29.998671    59.969085    1999.982252

         Occupancy  RenewableEnergy  EnergyConsumption
count  5000.000000      5000.000000        5000.000000
mean      4.576000        15.201195          76.794919
std       2.906185         9.157038           9.231573
min       0.000000         0.006642          53.263278
25%       2.000000         7.477928          70.419588
50%       5.000000        15.343830          76.696267
75%       7.000000        22.889997          83.246274
max       9.000000        29.965327          99.201120

In [20]:
print("Data Information:\n",df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month              5000 non-null   int64
 1   Hour               5000 non-null   int64
 2   DayOfWeek          5000 non-null   object
 3   Holiday            5000 non-null   object
 4   Temperature        5000 non-null   float64
 5   Humidity           5000 non-null   float64
 6   SquareFootage      5000 non-null   float64
 7   Occupancy          5000 non-null   int64
 8   HVACUsage          5000 non-null   object
 9   LightingUsage      5000 non-null   object
 10  RenewableEnergy    5000 non-null   float64
 11  EnergyConsumption  5000 non-null   float64
dtypes: float64(5), int64(3), object(4)
memory usage: 468.9+ KB
Data Information:
 None

In [23]:
print("Dataset dimentions:\n",{df.shape})

Dataset dimentions:
 {(5000, 12)}

In [26]:
print("Data Types:\n",df.dtypes)

Data Types:
 Month                  int64
Hour                   int64
DayOfWeek             object
Holiday               object
Temperature          float64
Humidity             float64
SquareFootage        float64
Occupancy              int64
HVACUsage             object
LightingUsage         object
RenewableEnergy      float64
EnergyConsumption    float64
dtype: object

In [32]:
#Min-Max Normalization (Rescaling)
df["Humidity_Normalized"] = (df["Humidity"] - df["Humidity"].min()) / (df["Humidity"].max() - df["Humidity"].min()) 
print(df)

      Month  Hour DayOfWeek Holiday  Temperature   Humidity  SquareFootage  \
0         1     0  Saturday      No    25.139433  43.431581    1565.693999
1         1     1  Saturday      No    27.731651  54.225919    1411.064918
2         1     2  Saturday      No    28.704277  58.907658    1755.715009
3         1     3  Saturday      No    20.080469  50.371637    1452.316318
4         1     4  Saturday      No    23.097359  51.401421    1094.130359
...     ...   ...       ...     ...          ...        ...            ...
4995     12     6    Sunday     Yes    26.338718  52.580000    1563.567259
4996     12    17    Monday      No    20.007565  42.765607    1999.982252
4997     12    13  Thursday     Yes    26.226253  30.015975    1999.982252
4998     12     8  Saturday     Yes    24.673206  50.223939    1240.811298
4999     12     1  Saturday     Yes    25.802872  41.798829    1793.658686

      Occupancy HVACUsage LightingUsage  RenewableEnergy  EnergyConsumption  \
0             5        On           Off         2.774699          75.364373
1             1        On            On        21.831384          83.401855
2             2       Off           Off         6.764672          78.270888
3             1       Off            On         8.623447          56.519850
4             9        On           Off         3.071969          70.811732
...         ...       ...           ...              ...                ...
4995          7        On            On        20.591717          70.270344
4996          5       Off            On         7.536319          73.943071
4997          5       Off            On        28.162193          85.784613
4998          2        On            On        20.918483          63.784001
4999          6       Off           Off         8.334079          53.263278

      Humidity_Normalized
0            4.478869e-01
1            8.082614e-01
2            9.645637e-01
3            6.795843e-01
4            7.139641e-01
...                   ...
4995         7.533116e-01
4996         4.256531e-01
4997         1.657722e-08
4998         6.746533e-01
4999         3.933766e-01

[5000 rows x 13 columns]

In [35]:
#Z-Score Normalization (Standardization)
df["Standardized_Humidity"] = (df["Humidity"] - df["Humidity"].mean()) / df["Humidity"].std()
print(df)

      Month  Hour DayOfWeek Holiday  Temperature   Humidity  SquareFootage  \
0         1     0  Saturday      No    25.139433  43.431581    1565.693999
1         1     1  Saturday      No    27.731651  54.225919    1411.064918
2         1     2  Saturday      No    28.704277  58.907658    1755.715009
3         1     3  Saturday      No    20.080469  50.371637    1452.316318
4         1     4  Saturday      No    23.097359  51.401421    1094.130359
...     ...   ...       ...     ...          ...        ...            ...
4995     12     6    Sunday     Yes    26.338718  52.580000    1563.567259
4996     12    17    Monday      No    20.007565  42.765607    1999.982252
4997     12    13  Thursday     Yes    26.226253  30.015975    1999.982252
4998     12     8  Saturday     Yes    24.673206  50.223939    1240.811298
4999     12     1  Saturday     Yes    25.802872  41.798829    1793.658686

      Occupancy HVACUsage LightingUsage  RenewableEnergy  EnergyConsumption  \
0             5        On           Off         2.774699          75.364373
1             1        On            On        21.831384          83.401855
2             2       Off           Off         6.764672          78.270888
3             1       Off            On         8.623447          56.519850
4             9        On           Off         3.071969          70.811732
...         ...       ...           ...              ...                ...
4995          7        On            On        20.591717          70.270344
4996          5       Off            On         7.536319          73.943071
4997          5       Off            On        28.162193          85.784613
4998          2        On            On        20.918483          63.784001
4999          6       Off           Off         8.334079          53.263278

      Humidity_Normalized  Standardized_Humidity
0            4.478869e-01              -0.228088
1            8.082614e-01               0.974933
2            9.645637e-01               1.496710
3            6.795843e-01               0.545376
4            7.139641e-01               0.660145
...                   ...                    ...
4995         7.533116e-01               0.791497
4996         4.256531e-01              -0.302311
4997         1.657722e-08              -1.723248
4998         6.746533e-01               0.528915
4999         3.933766e-01              -0.410057

[5000 rows x 14 columns]

In [39]:
#Categorical variables to quantitative variables
#Label Encoding
label_encoder = LabelEncoder()
df["Holiday_encoded"] = label_encoder.fit_transform(df["Holiday"])
print(df)

      Month  Hour DayOfWeek Holiday  Temperature   Humidity  SquareFootage  \
0         1     0  Saturday      No    25.139433  43.431581    1565.693999
1         1     1  Saturday      No    27.731651  54.225919    1411.064918
2         1     2  Saturday      No    28.704277  58.907658    1755.715009
3         1     3  Saturday      No    20.080469  50.371637    1452.316318
4         1     4  Saturday      No    23.097359  51.401421    1094.130359
...     ...   ...       ...     ...          ...        ...            ...
4995     12     6    Sunday     Yes    26.338718  52.580000    1563.567259
4996     12    17    Monday      No    20.007565  42.765607    1999.982252
4997     12    13  Thursday     Yes    26.226253  30.015975    1999.982252
4998     12     8  Saturday     Yes    24.673206  50.223939    1240.811298
4999     12     1  Saturday     Yes    25.802872  41.798829    1793.658686

      Occupancy HVACUsage LightingUsage  RenewableEnergy  EnergyConsumption  \
0             5        On           Off         2.774699          75.364373
1             1        On            On        21.831384          83.401855
2             2       Off           Off         6.764672          78.270888
3             1       Off            On         8.623447          56.519850
4             9        On           Off         3.071969          70.811732
...         ...       ...           ...              ...                ...
4995          7        On            On        20.591717          70.270344
4996          5       Off            On         7.536319          73.943071
4997          5       Off            On        28.162193          85.784613
4998          2        On            On        20.918483          63.784001
4999          6       Off           Off         8.334079          53.263278

      Humidity_Normalized  Standardized_Humidity  Holiday_encoded
0            4.478869e-01              -0.228088                0
1            8.082614e-01               0.974933                0
2            9.645637e-01               1.496710                0
3            6.795843e-01               0.545376                0
4            7.139641e-01               0.660145                0
...                   ...                    ...              ...
4995         7.533116e-01               0.791497                1
4996         4.256531e-01              -0.302311                0
4997         1.657722e-08              -1.723248                1
4998         6.746533e-01               0.528915                1
4999         3.933766e-01              -0.410057                1

[5000 rows x 15 columns]

In [41]:
#One-hot encoding
df_encoded = pd.get_dummies(df,columns=["Holiday"],prefix="holiday",drop_first=False)
print(df_encoded)

      Month  Hour DayOfWeek  Temperature   Humidity  SquareFootage  Occupancy  \
0         1     0  Saturday    25.139433  43.431581    1565.693999          5
1         1     1  Saturday    27.731651  54.225919    1411.064918          1
2         1     2  Saturday    28.704277  58.907658    1755.715009          2
3         1     3  Saturday    20.080469  50.371637    1452.316318          1
4         1     4  Saturday    23.097359  51.401421    1094.130359          9
...     ...   ...       ...          ...        ...            ...        ...
4995     12     6    Sunday    26.338718  52.580000    1563.567259          7
4996     12    17    Monday    20.007565  42.765607    1999.982252          5
4997     12    13  Thursday    26.226253  30.015975    1999.982252          5
4998     12     8  Saturday    24.673206  50.223939    1240.811298          2
4999     12     1  Saturday    25.802872  41.798829    1793.658686          6

     HVACUsage LightingUsage  RenewableEnergy  EnergyConsumption  \
0           On           Off         2.774699          75.364373
1           On            On        21.831384          83.401855
2          Off           Off         6.764672          78.270888
3          Off            On         8.623447          56.519850
4           On           Off         3.071969          70.811732
...        ...           ...              ...                ...
4995        On            On        20.591717          70.270344
4996       Off            On         7.536319          73.943071
4997       Off            On        28.162193          85.784613
4998        On            On        20.918483          63.784001
4999       Off           Off         8.334079          53.263278

      Humidity_Normalized  Standardized_Humidity  Holiday_encoded  holiday_No  \
0            4.478869e-01              -0.228088                0        True
1            8.082614e-01               0.974933                0        True
2            9.645637e-01               1.496710                0        True
3            6.795843e-01               0.545376                0        True
4            7.139641e-01               0.660145                0        True
...                   ...                    ...              ...         ...
4995         7.533116e-01               0.791497                1       False
4996         4.256531e-01              -0.302311                0        True
4997         1.657722e-08              -1.723248                1       False
4998         6.746533e-01               0.528915                1       False
4999         3.933766e-01              -0.410057                1       False

      holiday_Yes
0           False
1           False
2           False
3           False
4           False
...           ...
4995         True
4996        False
4997         True
4998         True
4999         True

[5000 rows x 16 columns]

In [43]:
#use of to_numeric
data = pd.Series(['1', '2', 'abc', '4'])
numeric_data = pd.to_numeric(data, errors='coerce')
print(numeric_data)

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

In [44]:
data = pd.Series(['1', '2', 'abc', '4'])
numeric_data = pd.to_numeric(data, errors='ignore')
print(numeric_data)

0      1
1      2
2    abc
3      4
dtype: object